---
import Layout from "../layouts/Layout.astro";
import BaseHead from "../components/BaseHead.astro";
---
<BaseHead />
<Layout title="Serious Quest">
	<main class="flex justify-center scroll-smooth">
		<img src="/seriousquest/workinprogress.jpg" class="px-40" />
	</main>
</Layout>