---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Accueil from "../sections/Accueil.astro";
import Entreprises from "../sections/Entreprises.astro";
import SeriousGame from "../sections/Serious_Game.astro";
import EscapeGame from "../sections/Escape_Game.astro";
import Formulaire from "../sections/Formulaire.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import Concept from "../sections/Concept.astro";
import Presentation from "../sections/Presentation.astro";
import Partenaires from "../sections/Partenaires.astro";
---
<BaseHead />
<Layout title="Serious Quest">
	<NavBar />
	<main class="scroll-smooth">
		<Accueil />
		<Concept />
		<Entreprises />
		<SeriousGame />
		<EscapeGame />
		<Presentation />
		<Partenaires />
		<Contact />
		<Formulaire />
		<Footer />
	</main>
</Layout>
