<header class="text-gray-600 body-font">
    <div class="overflow-hidden bg-slate-200 pb-12">
        <a
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
            <span class="pl-10 text-3xl">Serious Quest</span>
        </a>
        <nav
            class="flex md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
        >
            <a class="mr-5 hover:text-gray-900 text-xl" href="#accueil"
                >Accueil</a
            >
            <a class="mr-5 hover:text-gray-900 text-xl" href="#entreprises"
                >Entreprises</a
            >
            <a class="mr-5 hover:text-gray-900 text-xl" href="#seriousgame"
                >Serious Game</a
            >
            <a class="mr-5 hover:text-gray-900 text-xl" href="#escapegame"
                >Escape Game</a
            >
            <a class="mr-5 hover:text-gray-900 text-xl" href="#apropos"
                >À propos</a
            >
            <a class="mr-5 hover:text-gray-900 text-xl" href="#contact"
                >Contact</a
            >
        </nav>
    </div>
</header>
