---
import ContactButton from "../components/ContactButton.astro";
---
<section class="text-gray-600 body-font overflow-hidden" id="apropos">
    <div class="container px-60 py-24 mx-auto">
        <div class="flex flex-wrap -m-12">
            <div class="p-12 flex flex-col items-start text-xl">
                <h2
                        class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
                >
                    D'où vient Serious Quest ?
                </h2>
                <p class="leading-relaxed mb-8">
                    <span class="text-4xl">2009</span> mon DUT Carrières sociales
                    en poche, je deviens animateur socioculturel. Pour moi le jeu
                    est un formidable outil ; un levier incroyable pour passer des
                    messages, faire naître les débats, créer le dialogue ou encore
                    révéler les savoir-être et les savoir-faire (soft skills) tout
                    en y prenant du plaisir. Le jeu est fédérateur.
                </p>
                <p class="leading-relaxed mb-8">
                    <span class="text-4xl">2018</span> la naissance de Lost Chapters,
                    mon entreprise de création d’escape games, chasses aux trésors
                    et de grands jeux sur mesure. Encore une fois, les différentes
                    expériences vécus et animées prouvait que le jeu avait un énorme
                    potentiel dans le domaine de la coopération, la cohésion et la
                    communication.
                </p>
                <p class="leading-relaxed mb-8">
                    <span class="text-4xl">2021</span> j’affute mes compétences en
                    pédagogie et devient formateur. C’est alors le déclic : jeu et
                    pédagogie : c’est pour moi un cocktail explosif qui rend la formation
                    passionnante, engageante. Les centaines de pages Powerpoint ennuyante
                    laissent place à des expériences ludiques, un vécu commun, un
                    moment fun, expérientiel qui viendra nourrir les connaissances
                    et son ancrage.
                </p>
                <p class="leading-relaxed mb-">
                    <span class="text-4xl">2024</span> Lost Chapters devient <strong
                >Serious Quest</strong
                >.
                </p>
            </div>
            <ContactButton/>


        </div>
    </div>
</section>
