---

---
<section class="relative text-gray-600 body-font overflow-hidden h-full" id="accueil">
    <section>
        <div class="">
            <div class="grid grid-cols-10 grid-rows-1 gap-0 bg-accent-yellow">
                <img class="col-span-6 rounded-tr-[12em] rounded-br-[8em]" style="" src="/public/medium-shot-friends-planning-trip.webp" alt="">
                <div class="bg-accent-yellow px-4 col-span-4 flex flex-col place-content-between">
                    <h1 class="text-6xl font-bold my-8"><span class="font-bold text-accent-orange">SERIOUS</span><span>&nbsp;</span><span>QUEST</span></h1>
                    <p class="text-6xl font-semibold mb-4 text-white" style="line-height:1.5em">Les aventures ludiques avec du&nbsp;<span class="text-gray-600">sens</span></p>
                    <p class="py-4 text-2xl">Animation, création sur mesure, formation</p>
                </div>
            </div>
        </div>
    </section>
</section>
