---

---
<section class="relative text-gray-600 body-font overflow-hidden h-full bg-accent-yellow" id="accueil">
    <div>
      <div class="sm:px-12 lg:px-60">
        <div class="grid grid-cols-1 md:grid-cols-10 gap-0 bg-accent-yellow">
          <img 
            class="w-full md:col-span-5 rounded-tr-[4em] md:rounded-tr-[12em] md:rounded-br-[8em] object-cover"
            src="/public/medium-shot-friends-planning-trip.webp"
            alt=""
          />
          <div class="bg-accent-yellow px-4 py-8 md:py-0 md:col-span-5 flex flex-col justify-center">
            <h1 class="text-4xl md:text-6xl font-bold my-4 md:my-8">
              <span class="font-bold text-accent-orange">SERIOUS</span>
              <span>&nbsp;</span>
              <span>QUEST</span>
            </h1>
            <p class="text-2xl md:text-6xl font-semibold mb-2 md:mb-4 text-white" style="line-height:1.5em">
              Les aventures ludiques avec du&nbsp;<span class="text-gray-600">sens</span>
            </p>
            <p class="py-2 md:py-4 text-lg md:text-2xl">Animation, création sur mesure, formation</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  