---
import SeriousQuestName from "../components/SeriousQuestName.astro";
import Title from "../components/Title.astro";


---
<section>
    <div class="px-60 py-10">
        <div class="grid grid-cols-10 grid-rows-1 gap-4">
            <div class="col-span-6">
            <Title beginning="Le" end="concept" />
            <p class="text-2xl/10" style="line-height:3em">Avec <span class="text-2xl font-bold text-accent-orange">Serious </span><span class="font-bold">Quest</span> nous accompagnons
                les entreprises, les collectivités, les
                associations et les centres de formations
                
                dans la mise en place d’ateliers ludiques ou
                dans la conception de jeux sur mesure qui
                répondent réellement à leurs objectifs.</p>
        <p class="text-2xl font-semibold mb-4" style="line-height: 3em">Vos projets et vos objectif , c’est du sérieux : faisons-en des jeu !</p>
            
            </div>
            <img class="col-span-4" src="/public/concept.png" alt="">
        </div>
    </div>
    <section>
        <div class="px-60 py-10">
            <div class="grid grid-cols-10 gap-4">
                <img class="col-span-5 rounded-xl shadow" src="/public/quentin.webp" alt="">
                <div class="col-span-5 text-2xl"style="line-height:3em">
                <p class="text-black text-4xl pt-10" ><SeriousQuestName /> a les mêmes initiales que moi...</p>
                <p class="py-20">Je m'appelle <strong>Quentin</strong><span class="text-accent-orange">&nbsp;SALLOU</span>&nbsp;et je suis passionné par le monde du <span class="text-accent-orange">jeu</span> depuis toujours. Lors de mon parcours professionnel, j'ai toujours été fasciné par la <span class="text-accent-orange">force et l'impact</span> que le jeu a sur les gens.</p>
                <p>Pas vous ?</p>
                </div>
                
            </div>
        </div>
    </section>
</section>