---
---
<section
        class="text-gray-600 body-font overflow-hidden bg-accent-yellow"
        id="contact"
>
    <div class="bg-accent-yellow px-60">
        <h2 class="text-black text-4xl pt-10">Mes coordonnées</h2>
    <div>
    <div class="grid grid-cols-10 grid-rows-1 gap-4">
        <div class="col-span-5 px-24">
            <div class="h-40 bg-white my-8 p-4 rounded-xl">
                <p class="text-2xl font-bold py-2">
                    Me téléphoner
                </p>
                <a class="text-2xl py-2" href="tel:+33650500649">06 50 50 06 49</a>
            </div>
            <div class="h-40 bg-white my-8 p-4 rounded-xl">
                <p class="text-2xl font-bold py-2">
                    M'écrire
                </p>
                <a class="text-2xl py-2" href="mailto:seriousquest.contact@gmail.com">
                    seriousquest.contact@gmail.com
                </a>
            </div>
            <div class="h-40 bg-white my-8 p-4 rounded-xl">
                <p class="text-2xl font-bold py-2">
                    Mes réseaux
                </p>
                <p class="flex">
                    <a href="https://www.linkedin.com/in/quentin-sallou-serious-game/" target="_blank">
                        <img src="/public/linkedin.png" />

                    </a>

                </p>
            </div>
        </div>
        <img class="col-span-5" src="/public/portrait.png" alt="">
    </div>
    </div>
    </div>

</section>
