---
import Contact from "./Contact.astro";
import ContactButton from "../components/ContactButton.astro";
---
<section
        class="text-gray-600 body-font overflow-hidden bg-slate-200"
        id="entreprises"
>
    <div class="container px-60 py-24 mx-auto">
        <div class="flex flex-wrap -m-12">
            <div class="p-12 flex flex-col items-start text-xl">
                <h2
                        class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
                >
                    Entreprises
                </h2>
                <article>
                    <h3
                            class="sm:text-2xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
                    >
                        Team Building, séminaire, réunion de travail, atelier de
                        sensibilisation ou temps ponctuel de réflexion ?
                    </h3>
                    <p class="leading-relaxed mb-4">
                        Il existe déjà un grand nombre de jeux, on n’est pas
                        toujours obligé d’en créer de nouveaux !
                    </p>

                    <ul>
                        <p class="leading-relaxed mb-4">
                            Nous vous proposons d’animer des ateliers ludiques
                            en adéquation avec vos besoins :
                        </p>
                        <li class="ml-5 mb-2">
                            Vivez un Escape game directement dans vos locaux ou
                            sur le lieu d’un séminaire et voyez comment vos
                            équipes coopèrent avec un objectif commun.
                        </li>
                        <li class="list-disc ml-5 mb-2">
                            Challengez vos équipes grâce à des jeux de
                            communications qui réinterrogeront et renforceront
                            vos façon de communiquer dans votre entreprise
                        </li>
                        <li class="list-disc ml-5 mb-2">
                            Réfléchissez ensemble sur les enjeux écologiques et
                            de l’impact de vos actions sur l’environnement.
                        </li>
                        <li class="list-disc ml-5 mb-2">
                            Et plein d’autres sujets. N’hésitez pas à nous
                            solliciter sur d’autres sujets, nous ferons notre
                            possible pour vous trouver les jeux et les
                            mécaniques ludiques qui correspondent à vos besoins.
                        </li>
                    </ul>
                </article>
                <article>
                    <h3
                            class="sm:text-2xl text-2xl title-font font-medium text-gray-900 pt-20 mb-4"
                    >
                        Comment se passe le temps d’animation ?
                    </h3>
                    <ul>
                        <li class="list-disc ml-5 mb-2">Accueil des participants</li>
                        <li class="list-disc ml-5 mb-2">
                            Présentation et pose du cadre et des règles du jeu
                        </li>
                        <li class="list-disc ml-5 mb-2">Temps de jeu</li>
                        <li class="list-disc ml-5 mb-4">
                            Débrief sur l’expérience du jeu et des messages
                            transmis. Temps de mise en commun et de projection.
                        </li>
                    </ul>
                    <p class="leading-relaxed mb-4">
                        Le jeu c’est bien mais il ne faut pas oublier le sérieux
                        si on veut qu’il soit réellement impactant !
                    </p>
                    <p class="leading-relaxed mb-8">
                        Le temps de debrief est un moment indispensable pour
                        consolider l’expérience commune vécu précédemment et en
                        faire ressortir les enseignements souhaités. C’est entre
                        autre ce qui fera la différence avec un « simple » jeu.
                        Le tout, toujours avec le sourire, bienveillance et dans
                        la bonne humeur.
                    </p>
                </article>

            </div>
            <ContactButton/>
        </div>
    </div>
</section>
