---
import Contact from "./Contact.astro";
import ContactButton from "../components/ContactButton.astro";
import Title from "../components/Title.astro";
import SeriousQuestName from "../components/SeriousQuestName.astro";
---
<section
        class="text-gray-600 body-font overflow-hidden bg-white"
        id="entreprises"
>
    <div class="px-60 py-24 mx-auto">
        <Title beginning="En" end="entreprise" />
        <p class="py-10 text-2xl/10 text-black">Team building, séminaire, réunion de travail, atelier de sensibilisation ou temps ponctuel de réflexion ?</p>

        <img src="/public/jeusurmesure.png" alt="">
        <!-- <ContactButton/> -->
        <p class="py-10 text-2xl/10 text-black">Quels que soient vos objectifs, nous trouverons ensemble les activités et les mécaniques ludiques qui y répondent.</p>
    </div>

    <div class="bg-accent-yellow px-60">
        <h2 class="text-black text-4xl pt-10">Le jeu c’est bien... Mais si on allait plus loin ?</h2>
        <div class="grid grid-cols-10 grid-rows-1 gap-4">
            <div class="col-span-6">
                <p class="text-2xl text-slate-700" style="line-height:3em">
                    De la simple animation d’évènement d’entreprise à la création sur mesure...</p>
                    <p class="text-2xl py-20 font-bold text-black" style="line-height:3em">
                    Le temps de debrief est un moment indispensable pour consolider l’expérience commune vécu précédemment et en faire ressortir les enseignements souhaités. C’est entre autre ce qui fera la différence avec un « simple » jeu. Le tout, toujours avec le sourire, bienveillance et dans la bonne humeur.
                </p>
            </div>
            <img class="col-span-4" src="/public/concept.png" alt="">
        </div>
    </div>
    <div class="px-60 py-24">
        <p class="text-black text-4xl"><SeriousQuestName />&nbsp; en entreprise, c'est aussi :</p>
        <div class="grid grid-cols-10 grid-rows-1 gap-4 py-20">
            <div class="col-span-5">
                <img src="/public/onboarding.png" alt="">
                <p class="text-2xl/10 text-black">
Accompagnement à l'On-Boarding de façon ludique et engageante.
                </p>
            </div>
            <div class="col-span-5">
                <img src="/public/jeuentreprise.png" alt="">
                <p class="text-2xl/10 text-black">
                    Prêt de jeux de société en entreprise, animation de jeux de société ponctuelle.
                </p>
            </div>
        </div>
    </div>
</section>
