---
import ContactButton from "../components/ContactButton.astro";
---
<section
    class="text-gray-600 body-font overflow-hidden bg-slate-200"
    id="escapegame"
>
    <div class="container px-60 py-24 mx-auto">
        <div class="flex flex-wrap -m-12">
            <div class="p-12 flex flex-col items-start text-xl">
                <h2
                    class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
                >
                    Escape Game
                </h2>
                <p class="leading-relaxed mb-8">
                    Vous en avez forcément entendu parlé. Peut-être y avez-vous
                    jouer voir même testé une de ses versions dite «
                    pédagogique » ? L’Escape Game s’est hissé sur le podium des
                    loisirs préférés des français grâce à sa grande capacité
                    d’impliquer et d’engager les joueurs grâce à son design très
                    immersif et coopératif.
                </p>
                <p class="leading-relaxed mb-8">
                    Dans l'enseignement, la formation, et la transmission ;
                    l’engagement est un point central pour un meilleur
                    apprentissage et une meilleure mémorisation des notions.
                </p>
                <p class="leading-relaxed mb-8">
                    Aujourd’hui de nombreux escape game dit « pédagogiques »
                    voit le jour, mais sont-ils vraiment efficaces? L’expérience
                    du jeu ne prend-elle pas le dessus par rapport au « contenu
                    pédagogique » que l’on souhaite transmettre ?
                </p>
                <p class="leading-relaxed mb-">
                    Nous vous proposons aujourd’hui de vous accompagner dans la
                    création d’un escape game sur mesure, à fonction utilitaire
                    qui répondra réellement à vos objectifs (pédagogiques,
                    communicationnels…) et où l’attention des joueurs sera
                    portée au bon endroit (le focus).
                </p>
            </div>
        </div>
        <ContactButton />
    </div>
</section>
