---
import ContactButton from "../components/ContactButton.astro";
import Title from "../components/Title.astro";
---
<section class="text-gray-600 body-font overflow-hidden bg-white py-12" id="seriousgame">
    <p class="px-60 text-6xl text-black font-bold my-8">
        Ils nous ont fait <span class="font-bold text-accent-orange">confiance</span>
    </p>
    <div class="container mx-auto">

        <div class="flex flex-row h-72 w-auto justify-center">
            <img src="/public/atelier_du_5_bis.png" alt="">
            <img src="/public/maison_du_canal_logo.jpg" alt="">
            <img src="/public/smictom_logo.png" alt="">
            <img src="/public/cube_logo.png" alt="">
        </div>
        <div class="flex flex-row h-72 w-auto  justify-center">
            <img src="/public/maison_du_livre_logo.png" alt="">
            <img src="/public/bretagne_romantique_logo.jpg" alt="">
        </div>
    </div>
    <p class="px-60 text-6xl text-black font-bold my-8 py-12">
        Serious Quest<span class="font-bold text-accent-orange"> soutient et adhère</span> au
    </p>
    <div class="container mx-auto">
    <div class="flex flex-row h-72 w-auto  justify-center">
        <img src="/public/syndicat_logo.jpg" alt="">
    </div>
    </div>
</section>