---
import SeriousQuestName from "../components/SeriousQuestName.astro";
import Title from "../components/Title.astro";


---
<section>
    <div class="px-60 py-10">
        <Title beginning="L'histoire de" end="Serious Quest" />
        <div class="flex">
                <img src="/public/histoire_serious_quest.png" alt="" class="justify-center">
        </div>
        <p class="text-black text-4xl/10 px-40 text-center" style="line-height: 3em;">De la réflexion, à la conception jusqu'à l'animation et l'évaluation,</p>
        <p class="text-4xl text-center"><span class="text-4xl font-bold text-accent-orange"> Serious </span> Quest vous accompagne</p>
    </div>
</section>
