<section class="text-gray-600 body-font overflow-hidden" id="seriousgame">
    <div class="container px-60 py-24 mx-auto">
        <div class="flex flex-wrap -m-12">
            <div class="p-12 flex flex-col items-start text-xl">
                <h2
                    class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
                >
                    Le Serious Game, c'est quoi ?
                </h2>
            </div>
            <div class="grid grid-cols-2 gap-4 text-xl">
                <div>
                    <p class="leading-relaxed mb-8">
                        « Ce n’est pas parce que c’est sérieux que ça doit être
                        ennuyeux… »
                    </p>
                    <p class="leading-relaxed mb-8">
                        Le jeu sérieux, c’est toute la saveur du jeu : plaisir de
                        jouer, temps fun d’expérimentation En y incorporant une
                        fonction utilitaire : pédagogique ou communicationnelle.
                    </p>
                    <p class="leading-relaxed mb-8">
                        L’utilisation du jeu en formation a de nombreux avantages
                        comme ceux de favoriser l’ancrage de l’information, la
                        mémorisation mais aussi l’engagement et la motivation des
                        participants.
                    </p>
                    <p class="leading-relaxed mb-8">Le jeu sérieux peut prendre différentes forme.</p>
                </div>
                <div class="flex items-center justify-center">
                    <p class="leading-relaxed mb-8 text-2xl">
                        Chez <span class="font-bold">Serious Quest</span>, nous concevons des jeux analogiques (jeux non
                        digitaux) tels que des jeux de cartes, de plateau, des
                        escape games, des grands jeux fixes ou itinérants. Nous
                        faisons en sorte que chacun de ces jeux répondent
                        véritablement à vos objectifs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
